#dog{
    width: 30vw;
    height: 80vh;
    background-color: rgb(239, 255, 146);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}